<form id="addItemForm" method="post" action="action="{% if edit_mode %}{% url 'adminPanel:add_item' 'id' %}{% else %}{% url 'adminPanel:add_item' %}{% endif %}"
  >
    {% csrf_token %}
    <input type="hidden" name="item_id" id="item_id" value="{% if edit_mode %}{{ item_id }}{% endif %}" />
    <div class="row m-1">
      <div class="col-4">
        <label class="control-label">Item Name</label>
      </div>
      <div class="col-8">{{form.item_name}}</div>
    </div>
    <div class="row m-1">
      <div class="col-4">
        <label class="control-label">H.S.Code</label>
      </div>
      <div class="col-8">{{form.hs_code}}</div>
    </div>

    <hr />
    <h5 class="text-center">Duty Structure</h5>
    <hr />

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Custom Duty</label>
      </div>
      <div class="col-3">{{form.custom_duty_type}}</div>
      <div class="col-3">{{form.custom_duty_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Additional Custom Duty</label>
      </div>
      <div class="col-3">{{form.additional_custom_duty_type}}</div>
      <div class="col-3">{{form.additional_custom_duty_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Regulatory Duty</label>
      </div>
      <div class="col-3">{{form.regulatory_duty_type}}</div>
      <div class="col-3">{{form.regulatory_duty_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Sales Tax</label>
      </div>
      <div class="col-6">{{form.sales_tax_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Additional Sales Tax</label>
      </div>
      <div class="col-6">{{form.additional_sales_tax_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Income Tax</label>
      </div>
      <div class="col-6">{{form.income_tax_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">PSQCA</label>
      </div>
      <div class="col-6">{{form.psqc_rate}}</div>
    </div>

    <div class="row m-1">
      <div class="col-6">
        <label class="control-label">Wharfage</label>
      </div>
      <div class="col-6">{{form.wharfage_rate}}</div>
    </div>
</form>