{% extends 'base.html' %}

{% block content %}
<style>
  .action-buttons {
    display: flex;
    gap: 5px; /* Optional: space between buttons */
  }
  .action-buttons .btn, a {
    flex: 1; /* Each button takes up an equal amount of space */
    text-align: center;
    
  }
  </style>
<div class="mt-5">
  <div class="mb-4">
    <a class="btn btn-primary" href="{% url "adminPanel:shipping-add" %}"> Add New Shipping Line </a>
  </div>
  <table id="myTable" class="table table-primary table-bordered table-hover table-striped">
    <thead class="text-center">
      <tr>
        <th>Shipping Line Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Short Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in shippings %}
      <tr>
        <td>{{ p.line_name }}</td>
        <td>{{ p.phone_number }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.short_name }}</td>
        <td>
          <div class="action-buttons">
            <a class="btn btn-primary" href="{% url "adminPanel:shipping-edit" p.pk %}">Edit</a>
            <a class="btn btn-info" href="{% url "adminPanel:shipping-details" p.pk %}">Details</a>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "adminPanel/Port/port-form.html" %}

{% endblock content %}

<!-- JavaScript to handle modal dynamic content -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var portModal = document.getElementById('portModal');
    portModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var actionUrl = button.getAttribute('data-action');
      var modalTitle = button.getAttribute('data-title');
      var name = button.getAttribute('data-name');
      var shortName = button.getAttribute('data-shortname');
      var phone = button.getAttribute('data-phone');
      var email = button.getAttribute('data-email');

      var modalTitleElement = portModal.querySelector('.modal-title');
      var form = portModal.querySelector('form');
      modalTitleElement.textContent = modalTitle;
      form.setAttribute('action', actionUrl);

      // Pre-fill form fields if editing
      if (modalTitle === 'Edit Port') {
        form.querySelector('[name="port_name"]').value = name || '';
        form.querySelector('[name="short_name"]').value = shortName || '';
        form.querySelector('[name="phone_number"]').value = phone || '';
        form.querySelector('[name="email"]').value = email || '';
      } else {
        form.reset(); // Clear fields if adding new
      }
    });
  });
</script>
